# Server Configuration
NODE_ENV=development
PORT=5555

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=smart_inventory_lab
DB_USER=postgres
DB_PASSWORD=isi_dengan_password_postgres_masing_masing

# JWT Secret
JWT_SECRET=isi_dengan_secret_key
JWT_EXPIRES_IN=7d